.fd-form {
	display: flex;

	&__wrapper {
		width: 100%;
		margin-bottom: 12px;

		&:last-child {
			margin-bottom: 0;
		}

		label {
			font-size: 16px;
			margin-bottom: 6px;
		}

		.required {
			color: var(--red);
		}
	}

	&__input {
		width: 100%;
		background-color: var(--background);
		border-radius: var(--border-radius-semi);
		outline: 0px !important;
		border: 2px solid var(--background-dark);
		font-size: 15px;
		color: var(--text-light);
		text-align: left;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 10px;
		padding: 12px 24px;
		transition: all 100ms;

		&:hover {
			border-color: var(--background-darker);
		}

		&:focus {
			border-color: var(--secondary) !important;
		}

		&-select {
			.fd-form__input-select__control {
				width: 100%;
				background-color: var(--background);
				border-radius: var(--border-radius-semi);
				outline: 0px !important;
				border: 2px solid var(--background-dark);
				font-size: 15px;
				color: var(--text-light);
				text-align: left;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				margin-bottom: 0;
				padding: 4px 24px;

				&--is-focused {
					box-shadow: none;
					border-color: var(--secondary) !important;
				}

				&:hover {
					border-color: var(--background-darker);
				}

				> div {
					height: fit-content;
					padding: 0;
					line-height: 1;
				}
			}

			.fd-form__input-select__placeholder,
			.fd-form__input-select__indicator {
				color: var(--text);
			}
		}

		&.error {
			border-color: var(--red);
		}

		&:last-child {
			margin-bottom: 0;
		}

		svg {
			margin-left: 24px;
			width: 20px;
			height: 20px;
		}

		input,
		select {
			width: 100%;
			height: 100%;
			background-color: transparent;
			outline: 0px !important;
			font-size: 15px;
			color: var(--text-light);
			text-align: left;
			border: 0;
		}

		&.search {
			input {
				// padding: 5px !important;
			}
		}

		&::placeholder,
		> option {
			font-size: 15px;
			color: var(--text);
		}
	}

	&__error {
		font-size: 16px;
		color: var(--red);
	}

	button {
		background-color: var(--secondary);
		border: 0 !important;
		outline: 0;
		margin-top: 20px;
		padding: 6px 20px;
		color: white;
		border-radius: var(--border-radius-semi);
		transition: background 0.2s var(--transition-base);

		&.full {
			width: 100%;
		}

		&.large {
			padding: 12px 30px;
		}

		&:hover {
			background: var(--secondary-dark);
		}
	}
}
