.fd-mainbar {
	width: 100%;
	background-color: white;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border-bottom: 2px solid var(--line);
	position: relative;
	z-index: 1;

	&__left,
	&__right {
		display: flex;
	}
}
