.fd-projectlist {
	&__item {
		display: flex;
		justify-content: space-between;
		background: #fff;
		margin-bottom: 5px;

		> .xsmall {
			width: 50px;
		}

		> .small {
			width: 100px;
		}

		> .regular {
			width: 150px;
		}

		> .large {
			width: 240px;
		}

		> .xlarge {
			width: 320px;
		}

		> .auto {
			flex: 1;
		}

		> * {
			font-size: var(--p-large);
			padding: 10px 16px;
			border: 1px solid var(--background-light);
			display: flex;
			justify-content: center;
		}
	}

	.commands {
		justify-content: center;

		> * {
			cursor: pointer;
			padding: 6px;
			margin-right: 4px;

			&:last-child {
				margin-right: 0;
			}
		}

		.edit {
			background-color: var(--green-opacity);
			border-radius: var(--border-radius-semi);
		}

		.delete {
			background-color: var(--red-opacity);
			border-radius: var(--border-radius-semi);
		}
	}
}
