<div class="fd-projectlist__item">
	<a class="hash xsmall" [routerLink]="'/progetti/' + item.id">{{
		index
	}}</a>
	<a class="title auto" [routerLink]="'/progetti/' + item.id">{{
		item.title
	}}</a>
	<a class="type regular" [routerLink]="'/progetti/' + item.id">{{
		item.type
	}}</a>
	<a class="project-lead xlarge" [routerLink]="'/progetti/' + item.id">{{
		item.projectLead
	}}</a>
	<a class="key small" [routerLink]="'/progetti/' + item.id">{{
		item.acronym
	}}</a>
	<a class="date large" [routerLink]="'/progetti/' + item.id">
		{{item.date | date: 'dd/MM/yyyy'}}
	</a>
	<a class="note large" [routerLink]="'/progetti/' + item.id">{{
		item.note
	}}</a>
	<div class="commands regular">
		<div class="edit" (click)="editProject()">
			<mat-icon fontIcon="edit"></mat-icon>
		</div>
		<div class="delete" (click)="eliminateProject()">
			<mat-icon fontIcon="delete"></mat-icon>
		</div>
	</div>
</div>
<!-- <h1>item</h1> -->
