.fd-project {
	&__task {
		display: flex;
		justify-content: space-between;
		border-radius: 10px;
		background: #fff;

		.title {
			flex: 3;
		}

		> * {
			flex: 1;
			padding: 10px 16px;
			border: 1px solid var(--background-light);
		}
	}

	&__list {
		margin-top: 6px;
	}

	&__task {
		transition: background var(--transition-base) 0.2s;
		> * {
			color: var(--text);
			font-weight: 400;
			font-size: 17px;
			display: flex;
			align-items: center;
		}

		&:hover {
			background: #f9f8f7;
		}
	}
}
