/* @start: Basic */
* {
	box-sizing: border-box;
}

#fd-portal {
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 22222222;
}

main {
	padding: 30px;
}

::selection {
	background: var(--secondary);
	color: white;
}
::-moz-selection {
	background: var(--secondary);
	color: white;
}

html {
	position: relative;
	width: 100%;
	-webkit-marquee-increment: 0vw;
	font-size: 16px;
	overflow-x: hidden;
	background-color: var(--primary);
	scroll-behavior: smooth;
	color: white;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--background) !important;
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	font-kerning: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeSpeed;
	color: var(--text);
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	cursor: pointer;
	outline: none !important;
	font-weight: 400;
	text-decoration: none;
	transition: color 0.3s ease;

	&:hover,
	&:active,
	&:focus {
		color: inherit;
		outline: 0;
		text-decoration: none;
	}

	&.no-color {
		color: inherit !important;
	}

	img {
		border: none;
	}
}

b,
strong {
	font-weight: 900;
}

p {
	padding: 0;
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	user-select: none;
}

// Preformatted
pre,
code {
	padding: 0 3px 2px;
	border-radius: 3px;
	color: #232527;
	font-size: rem(12px);
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
	padding: 2px 4px;
	border: 1px solid #dde4e9;
	background-color: #f6f6f6;
	color: #232527;
	white-space: nowrap;
}

pre {
	display: block;
	margin: 20px 0 0 0;
	padding: 25px !important;
	border: 1px solid #dde4e9;
	border-radius: 4px;
	background-color: #fcfcfc;
	background-image: linear-gradient(#f5f5f5 50%, #e6e6e6 50%);
	background-size: 50px 50px;
	white-space: pre;
	word-wrap: normal;
	word-break: break-all;
	font-size: rem(12px);
	line-height: rem(25px);
	overflow-x: visible;
	overflow-y: hidden;
}

pre code {
	padding: 0;
	border: 0;
	background-color: transparent;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
}
