/* @start: Headings */
.fd-headings {
	padding-bottom: 12px;
	&__title {
		font-size: var(--h1) !important;
		margin-bottom: 10px;
	}

	&__subtitle {
		font-family: var(--font-headings);
		font-weight: 400;
		font-size: 36px;
		font-style: italic;
	}

	&__text {
		font-size: 20px;
		font-family: var(--font-body);
		font-weight: 400;
		+ * {
			margin-top: 50px;
		}
	}

	p:not(:first-child) {
		margin-top: 12px;
	}
}
