@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700;900&display=swap");

:root {
	--primary: #ffe032;
	--primary-alpha: 255, 224, 50;
	--primary-light: #fde768;
	--primary-dark: #fd752f;
	--primary-dark-alpha: 253, 117, 47;
	--secondary: #0b6581;
	--secondary-alpha: 0, 108, 141;
	--secondary-dark: #084c60;
	--background: #f7f6f4;
	--background-alpha: 247, 246, 244;
	--background-light: #f1efeb;
	--background-dark: #dcdad6;
	--background-darker: #aaa8a4;
	--text: #282828;
	--text-light: #424242;
	--green: #41d351;
	--violte: #d2459b;
	--blue: #6482ea;
	--red: #f92121;

	--font-headings: "Inter";
	--font-body: "Inter";

	--h1: 60px;
	--h2: 50px;
	--h3: 40px;
	--h4: 28px;
	--h5: 22px;
	--h6: 18px;
	--p: 16px;

	--pdg-1x: 30px;
	--pdg-2x: 60px;
	--pdg-3x: 90px;
	--pdg-4x: 120px;

	--mrg-1x: 30px;
	--mrg-2x: 60px;
	--mrg-3x: 90px;
	--mrg-4x: 120px;

	--transition-base: cubic-bezier(0.7, 0, 0.2, 1);

	--border-radius-full: 30px;
	--border-radius-semi: 10px;
}
